@model TestExersize.Models.LoginModel

@{
    ViewBag.Title = "Авторизация";
}

@section Scripts {}

@section Body{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
<div class="form-horizontal">
    <h3>Войти</h3>
    <hr />
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label class="control-label col-md-2">Имя</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control col-md-10" })
        </div>
    </div>
        <div class="form-group col-m-20">
            <label class="control-label col-md-2">Пароль</label>
            <div class="col-md-10">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    Войти
                </button>
                @Html.ActionLink("Зарегистрироваться", "Create", null, new { @class = "btn btn-default" })
            </div>
        </div>

    
</div>
    }
}

