<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Scripts")
</head>
<body>
    <header class="page-header">
        <div class="dl-horizontal">
            @Html.ActionLink("Список задач", "Index", "Home", null, new { @class = "btn btn-toolbar", style = "color:white; font-weight:550" })
            @Html.ActionLink("Регистрация", "Create", "Account", null, new { @class = "btn btn-toolbar", style = "color:white; font-weight:550" })
            @Html.ActionLink("Выйти", "Exit", "Account", null, new { @class = "btn btn-toolbar", style = "color:white; font-weight:550" })
            @Html.ActionLink("Арканоид", "Index", "Game", null, new { @class = "btn btn-toolbar", style = "color:white; font-weight:550" })
        </div>
    </header>
    @RenderSection("Body")
</body>
</html>