@model IEnumerable<TestExersize.Models.Task>
<script>
    function CloseTask(chb, ID) {
        chb.Enable = false
        $.ajax({
            url: '/Home/CloseTask/' + ID,
            type: "POST",
            success: function (data) {
                setTimeout(function () {
                    window.location.reload(true);
                }, 100);
            }
        });
    };
</script>

<div id="modDialog" class="modal col-lg-offset-4 col-lg-4">
</div>
<div class="panel-heading">Мои задачи</div>
<div class="panel-body">
    <table class="table">
        <thead>
            <tr><th>Статус</th><th>Содержание</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@Html.CheckBoxFor(t => task.IsDone, new { id = "status", onchange = "CloseTask(this," + task.Id + ")" })</td>
                    <td>@task.Content</td>
                    <td>
                        @Html.ActionLink("Редактировать", "GetEditor",
                                       new { Id = task.Id },
                                       new { @class = "btn btn-xs btn-primary", data_toggle = "modal", data_target = "#modDialog" })

                        @Html.ActionLink("Удалить", "Remove",
                                       new { Id = task.Id },
                                       new { @class = "btn btn-xs btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Добавить", "GetAdder",
                null,
                new { @class = "btn btn-xs btn-primary", data_toggle = "modal", data_target = "#modDialog" })
</div>
