@model IEnumerable<TestExersize.Models.Task>
<script>
    function CloseTask(chb, ID) {
        chb.Enable = false
        $.ajax({
            url: '/Home/CloseTask/' + ID,
            type: "POST",
            success: function (data) {
                setTimeout(function () {
                    window.location.reload(true);
                }, 0);
            }
        });
    };
</script>
    
<div id="modDialog" class="modal col-lg-offset-4 col-lg-4">
</div>
<div class="panel-heading">Мои задачи</div>
<div class="panel-body">
    <table class="table">
        @if (Model.Count() == 0)
        {
            <tbody><tr><td class="text-center">На данный момент у Вас нет новых задач</td></tr></tbody>
        }
        else
        {
            <thead>
                <tr><th>Статус</th><th>Содержание</th><th></th></tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                <tr>
                    <td class="col-lg-1">@Html.CheckBoxFor(t => task.IsDone, new { id = "status", onchange = "CloseTask(this," + task.Id + ")" })</td>
                    <td class="col-lg-8">@task.Content</td>
                    <td class="col-lg-3">
                        <div style="float:right">
                            @Html.ActionLink("Редактировать", "GetEditor",
                                new { Id = task.Id },
                                new { @class = "btn btn-xs btn-primary", data_toggle = "modal", data_target = "#modDialog", style = "margin-bottom: 3px;" })

                            @Html.ActionLink("Удалить", "Remove",
                               new { Id = task.Id },
                               new { @class = "btn btn-xs btn-danger", style = "margin-bottom: 3px;" })
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        }
    </table>
    @Html.ActionLink("Добавить", "GetAdder",
                                 null,
                                 new { @class = "btn btn-xs btn-primary", data_toggle = "modal", data_target = "#modDialog" })
</div>

<script>
    $(document).ready(function () {
        var text = decodeURI( window.location.search.substr(1).split('=')[1])
            Notify.generate(text, 1);
        })
    </script>